body {
    background-image: url('assets\background\hero.jpg');
    background-repeat: no-repeat;
}

.carousel-item img {
    object-fit: cover;
    height: 40vh;
    width: 100%;
}

/* Search Bar */
.my-form {
    padding: 10px;
}

.my-input {
    padding: 5px;
}

.my-buttons {
    padding: 10px;
}